<%= simple_form_for @movie, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :tytul %>
  <%= f.input :rezyser %>
  <%= f.input :gatunek %>
  <%= f.input :dlugosc %>
  <%= f.input :ocena_filmweb %>
  <%= f.input :ocena_imdb %>
  <%= f.input :moja_ocena %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                movies_path, :class => 'btn' %>
  </div>
<% end %>
